@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.FormulariosYdocumentos>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2 style="padding: 10px;">Formularios y Documentos</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Inicio</a></li>
                    <li>Formularios y Documentos</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-4">
                    <div class="content px-xl-5">
                        <h3>Formularios <br><strong>en Línea</strong></h3>
                        <p>
                             
                        </p>
                    </div>
                </div>

                <div class="col-lg-8">

                    <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                    <span class="num">1.</span>
                                    Solicitud de Admisión E.E.U.U.

                                </button>
                            </h3>
                            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                 <a href="https://formularios.ministeriosame.org/">Solicitud de Admisión en línea</a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                    <span class="num">2.</span>
                                    Solicitud de Admisión PR
                                </button>
                            </h3>
                            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                <a href="https://formularios.ministeriosame.org/solicitud-de-admision-puerto-rico/"> Solicitud de Admisión –  Puerto Rico</a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                    <span class="num">3.</span>
                                    Pérdida de Ingresos
                                </button>
                            </h3>
                            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                <a href="https://formularios.ministeriosame.org/perdida-de-ingresos/">Pérdida de Ingresos en línea</a> 
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                                    <span class="num">4.</span>
                                    Solicitud de Agregar
                                </button>
                            </h3>
                            <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                <a href="https://formularios.ministeriosame.org/solicitud-de-agregar/">Solicitud de Agregar en linea</a> 
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                                    <span class="num">5.</span>
                                    Solicitud de Agregar PR
                                </button>
                            </h3>
                            <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                <a href="https://formularios.ministeriosame.org/solicitud-de-agregar-puerto-rico/">Solicitud de Agregar en linea – Puerto Rico</a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-6">
                                    <span class="num">6.</span>
                                    Retiro de Fondos de Tarjeta de Crédito en linea
                                </button>
                            </h3>
                            <div id="faq-content-6" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                <a href="https://formularios.ministeriosame.org/formulario-de-retiro-de-fondos/">Retiro de Fondos de Tarjeta de Crédito en linea</a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-7">
                                    <span class="num">7.</span>
                                    Encuesta de Satisfacción
                                </button>
                            </h3>
                            <div id="faq-content-7" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    <a href="https://formularios.ministeriosame.org/encuesta-de-satisfaccion/">Encuesta de Satisfacción</a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-4">
                    <div class="content px-xl-5">
                        <h3>Formularios <br><strong>Descargables</strong></h3>
                        <p>
                             
                        </p>
                    </div>
                </div>

                <div class="col-lg-8">

                    <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                                    <span class="num">1.</span>
                                    Condiciones Generales de Membresia E.E.U.U.

                                </button>
                            </h3>
                            <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/11/FL-ESP-CONDICIONES-GENERALES.pdf">Condiciones Generales de Membresia E.E.U.U.</a> 
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                                    <span class="num">2.</span>
                                    Condiciones Generales de Membresía PR
                                </button>
                            </h3>
                            <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                     <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/11/PR-ESP-CONDICIONES-GENERALES-2.pdf"> Condiciones Generales de Membresía PR </a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                                    <span class="num">3.</span>
                                    Condiciones Generales de Membresia RD
                                </button>
                            </h3>
                            <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                 <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/11/RD-CONDICIONES-GENERALES-DE-MEMBRESIA.pdf"> Condiciones Generales de Membresía RD </a>

                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                                    <span class="num">4.</span>
                                    Solicitud de Admisión E.E.U.U.
                                </button>
                            </h3>
                            <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/11/FL-ESP-SOLICITUD-DE-ADMISION.pdf"> Solicitud de Admisión E.E.U.U. </a>

                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                                    <span class="num">5.</span>
                                    Solicitud de Admisión PR
                                </button>
                            </h3>
                            <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                 <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/11/PR-ESP-SOLICITUD-DE-ADMISION.pdf"> Solicitud de Admisión PR </a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-6">
                                    <span class="num">6.</span>
                                    Solicitud de Admisión RD
                                </button>
                            </h3>
                            <div id="faq-content-6" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                 <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2021/08/SOLICITUD-DE-ADMISION-RD.pdf"> Solicitud de Admisión RD </a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-7">
                                    <span class="num">7.</span>
                                    Solicitud De Agregar E.E.U.U.
                                </button>
                            </h3>
                            <div id="faq-content-7" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/11/FL-ESP-03-2020-SOLICITUD-DE-AGREGAR.pdf"> Solicitud de Agregar E.E.U.U.U. </a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-88">
                                    <span class="num">8.</span>
                                    Solicitud de Agregar PR
                                </button>
                            </h3>
                            <div id="faq-content-88" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/11/PR-ESP-03-2020-SOLICITUD-DE-AGREGAR.pdf"> Solicitud de Agregar PR</a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-99">
                                    <span class="num">9.</span>
                                    Retiro De Fondos De Tarjeta De Crédito E.E.U.U.
                                </button>
                            </h3>
                            <div id="faq-content-99" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/11/Forma-para-deduccion-de-Tarjeta-Credito-Debito.pdf"> Retiro de Fondos de Tarjeta de Crédito E.E.U.U.</a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1010">
                                    <span class="num">10.</span>
                                    Retiro De Fondos De Cuenta De Cheque o Ahorro PR
                                </button>
                            </h3>
                            <div id="faq-content-1010" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                    <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/11/PR-FORMA-PARA-RETIRO-DE-FONDOS-DE-CUENTA-CHEQUE-O-AHORRO.pdf"> 
                                    Retiro de Fondos de Cuenta de Cheque o Ahorro PR </a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1111">
                                    <span class="num">11.</span>
                                    Retiro De Fondos de Tarjeta De Crédito PR
                                </button>
                            </h3>
                            <div id="faq-content-1111" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/11/PR-FORMA-PARA-RETIRO-DE-FONDOS-DE-TARJETA-DE-CREDITO-1.pdf"> 
                                Retiro de Fondos de Tarjeta de Crédito PR </a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1212">
                                    <span class="num">12.</span>
                                    Hoja de Interés
                                </button>
                            </h3>
                            <div id="faq-content-1212" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                     <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/11/HOJA-DE-INTERES-.pdf"> Hoja de Interés </a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1313">
                                    <span class="num">13.</span>
                                    Encuesta de Satisfacción
                                </button>
                            </h3>
                            <div id="faq-content-1313" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                   <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/11/Encuesta-modificada-version-01.pdf"> Encuesta de Satisfacción </a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1414">
                                    <span class="num">14.</span>
                                    Petición de Baja
                                </button>
                            </h3>
                            <div id="faq-content-1414" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                   <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/11/FL-ESP-03-2020-SOLICITUD-DE-BAJA.pdf"> Petición de Baja </a>
                                </div>
                            </div>
                        </div>
                        <!-- # Faq item-->
                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1515">
                                    <span class="num">15.</span>
                                     Membresía para Personas Mayores de 65 años
                                </button>
                            </h3>
                            <div id="faq-content-1515" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                   <a href="/media/fweigjwz/plan-para-mayores-de-65-an-os.pdf"> Membresía para Personas Mayores de 65 años </a>
                                </div>
                            </div>
                        </div>
                        <!-- # Faq item--> 
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                <div class="col-lg-4">
                    <div class="content px-xl-5">
                        <h3><strong>Documentos</strong></h3>
                        <p>
                            
                        </p>
                    </div>
                </div>

                <div class="col-lg-8">

                    <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-111">
                                    <span class="num">1.</span>
                                    Medidas De Emergencias

                                </button>
                            </h3>
                            <div id="faq-content-111" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                <iframe src="https://fot.shn.mybluehost.me/wp-content/uploads/2021/03/MEMO-GENERAL-CORONA-19.pdf#toolbar=0" width="100%" height="500px"></iframe>

                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-222">
                                    <span class="num">2.</span>
                                    Constitución
                                </button>
                            </h3>
                            <div id="faq-content-222" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/09/NUEVA-CONSTITUCION.pdf">Constitución</a> 
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-333">
                                    <span class="num">3.</span>
                                    Brochure
                                </button>
                            </h3>
                            <div id="faq-content-333" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body"> 
                                <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/09/Espanol-2020-Brochure-Updated.pdf"> Brochure</a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-444">
                                    <span class="num">4.</span>
                                    Brochure RD
                                </button>
                            </h3>
                            <div id="faq-content-444" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body"> 
                                <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/09/Espanol-2020-Brochure-RD.pdf"> Brochure RD</a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->

                        <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-555">
                                    <span class="num">5.</span>
                                    Carta de cargos de procesamiento
                                </button>
                            </h3>
                            <div id="faq-content-555" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                                <div class="accordion-body">
                                <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2023/09/CARTA-DE-CARGOS-DE-PROCESAMIENTO.04-28-21.pdf">Cartas de cargos de procesamiento</a>
                                </div>
                            </div>
                        </div><!-- # Faq item-->
                       

                    </div>

                </div>
            </div>

        </div>
    </section>
    
    
    <!-- End Frequently Asked Questions Section -->
