@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Iniciar>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        @await Html.PartialAsync("login")
        </div>
    </section>
