 
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@using Umbraco.Cms.Web.Common;


@{
    Layout = null;
    bool isAuthenticated = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Ministerios AME</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">


</head>


<body>

    <!-- ======= Header ======= -->
    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:ame.fl@ame-us.org">ame.fl@ame-us.org</a></i>
                <!--<i class="bi bi-phone d-flex align-items-center ms-4"><span>1 (407) 949-1651</span></i>-->
            </div>


            <div class="social-links d-none d-md-flex align-items-center"> 
                <a href="https://www.facebook.com/MINISTERI0AME" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/ministerioayudamutua/" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCh8Rgcv1xOFWPVBiHoxdIJg" class="youtube"><i class="bi bi-youtube"></i></i></a>
            </div>
        </div>
    </section><!-- End Top Bar -->

    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="/img/MinAmeLogo1.png" alt="" style="border-radius: 30px;">

            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
                    <li><a href="/noticias">Noticias</a></li>
                    <li><a href="/obituarios">Obituarios</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Recursos</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="/formularios-y-documentos">Formularios y Documentos </a></li>
                            <li><a href="https://formularios.ministeriosame.org/peticion-de-oracion/">Rincon de Oracion </a></li>
                            <li><a href="/preguntas-mas-frequentes">Preguntas Mas Frequentes </a></li>
                            <li><a href="/revista-reencuentro">Revista ReEncuentro</a></li>
                            <li><a href="/donaciones">Donaciones </a></li>
                        </ul>
                    </li>

                    <li><a href="https://formularios.ministeriosame.org/contactenos/">Contáctenos</a></li>

                    @*<li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="#">Drop Down 1</a></li>
                    <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                      <ul>
                        <li><a href="#">Deep Drop Down 1</a></li>
                        <li><a href="#">Deep Drop Down 2</a></li>
                        <li><a href="#">Deep Drop Down 3</a></li>
                        <li><a href="#">Deep Drop Down 4</a></li>
                        <li><a href="#">Deep Drop Down 5</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Drop Down 2</a></li>
                    <li><a href="#">Drop Down 3</a></li>
                    <li><a href="#">Drop Down 4</a></li>
                  </ul>
                </li>*@

                </ul>

            </nav><!-- .navbar -->
            <!--
            <div style="display:flex; flex-direction: row;">
                @if (isAuthenticated)
                {
                    <form method="get" asp-controller="MinAme" asp-action="Index">
                        <button type="submit" style="background: var(--color-primary); border: 0; padding: 14px 45px; color: #fff; transition: 0.4s; border-radius: 50px;">
                            Mi Perfil
                        </button>
                    </form>
                    <form method="post" asp-controller="MinAme" asp-action="Logout">
                        <button type="submit" style="background: var(--color-primary); border: 0; padding: 14px 45px; color: #fff; transition: 0.4s; border-radius: 50px;">
                            Cerrar Sesión
                        </button>
                    </form>
                }
                else
                {
                    <button onclick="location.href = '/registro/';" style="background: #F3FB59; border-color: black; border: 5; padding: 14px 45px; color: #000; transition: 0.4s; border-radius: 50px; "
                            type="submit" value="Submit">
                                Aplicar
                    </button>
                    <div>&nbsp;</div>
                   <button onclick="location.href = '/iniciar-sesion/';" style="background: var(--color-primary); border: 0; padding: 14px 45px; color: #fff; transition: 0.4s; border-radius: 50px;"
                            type="submit" value="Submit">
                        Iniciar
                    </button>
                }


            </div>
            -->
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header><!-- End Header -->
            <!-- End Header -->
            <!-- ======= Render Content ======= -->
            @RenderBody();
            <!-- ======= End Render Content ======= -->
            <!-- ======= Footer ======= -->
            <footer id="footer" class="footer">

                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-5 col-md-12 footer-info">
                            <a href="/" class="logo d-flex align-items-center">
                                <span>Ministerios AME</span>
                            </a>
                            <p>
                                ¡Contáctanos ahora para comenzar a trabajar juntos!<br />
                                Nuestro equipo está listo para responder a todas<br />
                                tus preguntas y ayudarte en lo que necesites.<br />
                                Envíanos un mensaje o llámanos directamente.<br />
                            </p>
                            <div class="social-links d-flex mt-4">  
                                <a href="https://www.facebook.com/MINISTERI0AME" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="https://www.instagram.com/ministerioayudamutua/" class="instagram"><i class="bi bi-instagram"></i></a>
                                <a href="https://www.youtube.com/channel/UCh8Rgcv1xOFWPVBiHoxdIJg" class="youtube"><i class="bi bi-youtube"></i></i></a>
                            </div>
                        </div>

                        <div class="col-lg-2 col-6 footer-links">
                            <h4>
                                Enlaces útiles
                            </h4>
                            <ul>
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/sobre-nosotros">Sobre Nosotros</a></li>
                                <li><a href="/noticias">Noticias</a></li>
                                <li><a href="#">Terms of service</a></li>
                                <li><a href="#">Privacy policy</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-2 col-6 footer-links">
                          @*<h4>Our Services</h4>
                        <ul>
                          <li><a href="#">Web Design</a></li>
                          <li><a href="#">Web Development</a></li>
                          <li><a href="#">Product Management</a></li>
                          <li><a href="#">Marketing</a></li>
                          <li><a href="#">Graphic Design</a></li>
                        </ul>*@
                      </div>

                        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                            <h4>Contáctenos</h4>
                            <strong>Coordinador General:</strong> (407) 949-1651
                            <p>
                                <h6>Florida</h6>
                                <strong>Address:</strong> P.O. Box 677606 Orlando, FL 32867-7606<br />
                                <strong>Phone:</strong> (407) 673-7263<br>
                                <strong>Email:</strong> ame.fl@ame-us.org <br>
                            </p>
                            <p>
                                <h6>Puerto Rico</h6>
                                <strong>Address:</strong> P.O. Box 885 Fajardo, PR 00738-0885<br />
                                <strong>Phone:</strong> (407) 673-7263<br>
                                <strong>Email:</strong> ame.pr@ame-us.org <br>
                            </p>
                            <p>
                                <h6>Republica Dominicana</h6>  
                                <strong>Phone:</strong> (849) 885-7263<br>
                                <strong>Email:</strong>Miozy.urena@ame-us.org<br>
                            </p>

                        </div>

                    </div>
                </div>

                <div class="container mt-4">
                    <div class="copyright">
                        &copy; Copyright <strong><span>Ministerios AME</span></strong>. All Rights Reserved
                    </div>
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->
                        <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
                    </div>
                </div>

            </footer><!-- End Footer -->
            <!-- End Footer -->
            <!-- Vendor JS Files -->
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/vendor/aos/aos.js"></script>
            <script src="/vendor/glightbox/js/glightbox.min.js"></script>
            <script src="/vendor/purecounter/purecounter_vanilla.js"></script>
            <script src="/vendor/swiper/swiper-bundle.min.js"></script>
            <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
            <script src="/vendor/php-email-form/validate.js"></script>

            <!-- Template Main JS File -->
            <script src="/js/main.js"></script>

</body>

</html>