@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SobreNosotros>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Sobre Nosotros</h2>
                        <p>
                            En esta sección conocerás más sobre el origen y los fundamentos del Ministerio
                            de Ayuda Mutua para Enterramiento. También conocerá algunos datos del
                            personal administrativo que día a día se esmera para cumplir la Misión y alcanzar
                            los objetivos al crear el ambiente para que, cada miembro o familiar que sea
                            atendido pueda sentir paz y confianza.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="/">Inicio</a></li>
                    <li>Sobre Nosotros</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Quienes Somos Section ======= -->
    <section id="services" class="services sections-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Quienes Somos</h2>
                <p></p>
            </div>

            <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-3 col-md-6">
                    <div class="service-item  position-relative">
                       
                       <img src="../img/hands.jpeg" width="50%" style="padding-bottom:20px;"/>
                        <br /> 
                      
                        <h3>MISIÓN</h3>
                        <p>
                            Contribuir unidos, ayudándonos mutuamente con el problema económico que surge al tener que afrontar la disposición final de nuestros seres queridos al momento de su fallecimiento.

                            “Y de hacer bien y de la ayuda mutua no os olvidéis, porque de tales sacrificios se agrada Dios”.

                             Hebreos 13:16.
                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="service-item position-relative">
                        <img src="../img/puzzle.jpeg" width="50%" style="padding-bottom:20px;" />
                        <br />
                        <h3>
                            VISIÓN
                        </h3>
                        <p>
                            Que el Ministerio de Ayuda Mutua para Enterramiento sea una herramienta de apoyo a la iglesia en proclamar a los deudos, dela bendita esperanza de la resurrección y el pronto regreso del Señor Jesucristo.

                            “Pues si vivimos, para el Señor vivimos; y si morimos, para el Señor morimos. Así pues, sea quevivamos, o que muramos, del Señor somos.”

                             Romanos 14:8
                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="service-item position-relative">
                        <img src="../img/Objetivos.jpeg" width="50%" style="padding-bottom:20px;" />
                        <br />
                        <h3>OBJETIVOS</h3>
                        <p>
                            - Dar a todos nuestros hermanos, familiares y amigos, la oportunidad de participar de este ministerio de esperanza, consolación y ayuda mutua al tener que lidiar con algunos aspectos del proceso de la muerte.<br />
                            - Administrar fondos comunes que provienen de los aportes mensuales que se reciben de los miembros sostenedores y otros donativos.<br />
                            - Ayudar a las familias durante el proceso del duelo.  Nos encargamos de lidiar con las funerarias y los cementerios en la coordinación de los servicios.<br />
                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-3 col-md-6">
                    <div class="service-item position-relative">
                        <img src="../img/bibledove.jpeg" width="50%" style="padding-bottom:20px;" />
                        <br />
                        <h3>PROPÓSITO</h3>
                        <p>
                            Cumplir el mandato divino deayudar al necesitado.Presentar la bendita esperanza de la salvación a
                            familiares y amigos de los que pasen al descanso. Reducir el gasto de fondos de las iglesias en Servicios
                            funerales.Presentar el amor de Dios por sus hijos.Minimizar el sufrimiento de los deudos,al resolver el
                            asunto financiero y la coordinación de los servicios funerarios.Fomentar la empatía por el dolor
                            de nuestros semejantes.
                        </p>
                    </div>
                </div><!-- End Service Item -->
            </div>

        </div>
    </section>
    <!-- End Quenes Somos Section -->
    <!-- ======= Nuestra Historia Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <!--<div class="section-header">
              <h2>About Us</h2>
              <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop</p>
            </div>-->

            <div class="row gy-4 align-items-center">
                <div class="col-lg-6">
                    <h3>Nuestra Historia</h3>
                    <img src="../img/beginning.jpeg" class="img-fluid rounded-4 mb-4" alt="">
                    <p>
                        El Ministerio de Ayuda Mutua para Enterramiento surgió por la intervención Divina
                        capacitando a cuatro miembros de iglesia en diferentes partes del mundo y luego
                        uniéndolos en la misma iglesia para desarrollar el plan que, ya Él, había trasado.
                        <br><br>
                        Estando como Miembros de la Junta de iglesia se presenta el tema de los diferentes
                        inconvenientes que, como iglesia, se enfrentaban cada vez que fallecía uno de los
                        miembros o algún familiar sin tener los arreglos necesarios. Como iglesia, se intentó
                        buscar diferentes opciones para suplir estas necesidades, pero, a pesar de ser una
                        iglesia relativamente grande no se pudo materializar una solución adecuada para la
                        situación.
                    </p>
                    <p>
                        Con la inquietud que el Espíritu Santo había colocado en estos hermanos, unieron sus
                        capacidades profesionales, esfuerzos y recursos para encontrar una solución a través de
                        la cual el nombre de Dios fuera glorificado.  Con la intensión de unir esfuerzos, se
                        visitaron iglesias cercanas y se contactaron a sus pastores para identificar si ellos
                        estaban confrontando los mismos inconvenientes.  El resultado fue abrumador ya que, el
                        100% de estos estaban atravesando por la misma situación y, de igual forma, tratando de
                        encontrar una solución al conflicto.  Fue en ese momento que nos percatamos que lo que
                        nos había unido era la respuesta de Dios a las oraciones de este grupo de iglesias.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div class="content ps-0 ps-lg-5">
                        <p>
                            El día 13 de abril del año 2000 se realizó un culto de inauguración para comenzar
                            oficialmente las operaciones del Ministerio AME con 13 iglesias participantes y 800
                            miembros afiliados.  Todos unidos con la misión de ayudarse unos a otros brindando
                            apoyo durante la convalecencia y en los costos para los servicios funerales, además de
                            servir de consuelo para los familiares y amigos durante el periodo de duelo.
                        </p>
                        <p>
                            Como respuesta a la atención brindada por este Ministerio, muchos se han interesado
                            en conocer acerca de Dios, la esperanza de la resurrección y de la iglesia adventista.
                            Por la gracia de Dios muchas personas y familias se han unido a este hermoso evangelio
                            y hoy esperan la gloriosa mañana.
                        </p>
                        <p>
                            Son muchos los testimonios que hemos escuchado gracias al apoyo que,
                            las más de 300 iglesias afiliadas y sobre 5000 mil Miembros de este Ministerio,
                            muestran en el momento más doloroso de la vida de una persona.  Damos gracias
                            a Dios por la oportunidad de ser parte activa en la predicación del evangelio
                            y de poder aliviar el dolor de nuestros hermanos.  Les invitamos a unirte en
                            esta linda obra y pedimos encarecidamente sus oraciones.
                        </p>



                        <!-- ======= Junta Directiva Section ======= -->
                        <section id="team" class="team">
                            <div class="container" data-aos="fade-up">

                                <div class="section-header" style="margin-top:-20px;margin-bottom:-60px;">
                                    <h2>Fundadores</h2>
                                    
                                </div>

                                <div class="row gy-4">

                                    <div class="col-xl-6" data-aos="fade-up" data-aos-delay="100">
                                        <div class="member">
                                            <a href="">
                                                <img src="../img/BenjaminAntron.jpg" class="img-fluid" alt="">
                                            </a>

                                            <a href="/sobre-nosotros/benjamin-antron/" style="color: black;">
                                                <h4>Benjamin Antron</h4>
                                            </a>

                                            <h6></h6>

                                        </div>
                                    </div><!-- End Team Member -->

                                    <div class="col-xl-6" data-aos="fade-up" data-aos-delay="200">
                                        <div class="member">
                                            <a href=" ">
                                                <img src="../img/DorisBotetano.jpg" class="img-fluid" alt="">
                                            </a>
                                            <a href="" style="color: black;">
                                                <h4>
                                                    Doris Botetano
                                                </h4>
                                            </a>
                                            <h6></h6>

                                        </div>
                                    </div><!-- End Team Member -->


                                    <div class="col-xl-6" data-aos="fade-up" data-aos-delay="400">
                                        <div class="member">
                                            <a href="">
                                                <img src="../img/ElsaMedina.jpg" class="img-fluid" alt="">
                                            </a>
                                            <a href=" " style="color: black;">
                                                <h4>Elsa Medina</h4>
                                            </a>
                                            <h6></h6>

                                        </div>
                                    </div><!-- End Team Member -->

                                

                                    <div class="col-xl-6" data-aos="fade-up" data-aos-delay="300">
                                        <div class="member">
                                            <a href=" ">
                                                <img src="../img/JackieMendez.jpeg" class="img-fluid" alt="">
                                            </a>
                                            <a href=" " style="color: black;">
                                                <h4>Jackie Mendez</h4>
                                            </a>
                                            <h6></h6>

                                        </div>
                                    </div><!-- End Team Member -->
                                     

                                </div>

                            </div>
                        </section>
                        <!-- End Our Team Section -->
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Nuestra Historia Section -->
    <!-- ======= Como Funciona Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Como Funciona</h2>
                <p>Como puede su iglesia ser parte de este Ministerio</p>
            </div>

            <div class="row gy-4 align-items-center">
                <div class="col-lg-6">
                    <p>
                        Para que su iglesia sea parte de este Ministerio, es necesario participar en una presentación oficial sobre
                        “Cómo funciona el Ministerio de Ayuda Mutua para Enterramiento”.
                    </p>
                    <p>
                        La nueva iglesia o los miembros interesados deben comunicarse con su pastor local, quien,
                        juntocon su Junta de la Iglesia, elegirá un representante llamado
                        “Coordinador de duelo y Asuntos Funerales”.
                    </p>
                    <p>
                        Junto a este nuevo Coordinador de Duelo, nuestro Coordinador General organizarán untallerpara
                        la presentación en su iglesia local.
                    </p>
                    <p>
                        Una vez concluida la presentación, las mismas iglesias o personas interesadas pueden unirse alministerio
                        el mismo día de la presentación completando la Solicitud de Admisión, o completandola Solicitud de
                        Admisión dentro de un período de no más de 30 díasdespués de la presentación.Si no pueden unirse en
                        el momento de la presentación, o dentro del período de gracia (30 días) después de la fecha de
                        presentación, deberán esperar para unirse en uno de los períodos deinscripción preestablecidos
                        por el Ministerio
                    </p>

                </div>
                <div class="col-lg-6">
                    <div class="content ps-0 ps-lg-5">
                        <div class="position-relative mt-4">
                            <img src="../img/about-2.jpg" class="img-fluid rounded-4" alt="">
                            <a href="https://fot.shn.mybluehost.me/wp-content/uploads/2021/02/Descripcion-del-Ministerio.mp4" class="glightbox play-btn"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Como funciona Section -->
    
     
     
    <!-- ======= Junta Directiva Section ======= -->
    <section id="team" class="team">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Junta Directiva</h2>
                <p>
                    Aquí en el Ministerio de Ayuda Mutua para Enterramiento, nuestra Junta Directiva desempeña
                    un papel fundamental en la orientación estratégica y la toma de decisiones que impulsan
                    nuestro éxito. Compuesta por líderes visionarios y expertos en diversos campos, nuestra junta
                    trabaja en estrecha colaboración con la Junta Administrativa y el Comité Administrativo
                    para garantizar la excelencia en todas nuestras operaciones y el cumplimiento de nuestra misión y
                    valores. Descubre más sobre los miembros de nuestra Junta Directiva y su compromiso con el
                    crecimiento y la prosperidad de nuestra organización.
                    </p>
            </div>

            <div class="row gy-4">

                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <a href="">
                            <img src="../img/guerrero.jpg" class="img-fluid" alt="" width="150px">
                        </a>

                        <a href="" style="color: black;">
                            <h4>Pr. Michael Guerrero</h4>
                        </a>

                        <h6>Presidente</h6>

                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <a href=" ">
                            <img src="../img/Taveras.png" class="img-fluid" alt="" width="150px">
                        </a>
                        <a href="" style="color: black;">
                            <h4>
                                Pr. Oscar Taveras Bueno
                            </h4>
                        </a>
                        <h6>Vice Presidente</h6>

                    </div>
                </div><!-- End Team Member -->


                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <a href="">
                            <img src="../img/Urena.jpg" class="img-fluid" alt="" width="150px">
                        </a>
                        <a href=" " style="color: black;">
                            <h4>Lidia Miozotis Urena</h4>
                        </a>
                        <h6>Secretaria / Tesorera</h6>

                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-2" data-aos="fade-up" data-aos-delay="200">
 
                </div>
                <!-- End Team Member -->
                
                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <a href=" ">
                            <img src="../img/ariel.jpg" class="img-fluid" alt="" width="150px">
                        </a>
                        <a href=" " style="color: black;">
                            <h4>Ariel Bernhardt</h4>
                        </a>
                        <h6>Pres. Comité Arbitraje y Consejo</h6>

                    </div>
                </div><!-- End Team Member -->
                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <a href=" ">
                            <img src="../img/suarez.png" class="img-fluid" alt="" width="150px">
                        </a>
                        <a href=" " style="color: black;">

                            <h4>Pr. Isaac Suarez</h4>
                        </a>
                        <h6>Pastor Asesor</h6>

                    </div>
                </div><!-- End Team Member -->
                <div class="col-xl-2" data-aos="fade-up" data-aos-delay="200">
                    
                </div>
                <!-- End Team Member -->

            </div>

        </div>
    </section>
    <!-- End Our Team Section -->
    
    <!-- ======= Nuestro Equipo Section ======= -->
    <section id="team" class="team">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Comité Administrativo</h2>
                <p>En el Ministerio de Ayuda Mutua para Enterramiento, nuestro Comité Administrativo desempeña
                    un papel fundamental en la coordinación y gestión eficiente de todas las áreas operativas.
                    Compuesto por los directores departamentales, quienes son
                    profesionales altamente capacitados y comprometidos, el Comité trabaja en estrecha colaboración de los equipos
                    departamentales para garantizar la alineación con los objetivos estratégicos y el cumplimiento
                    de los estándares de calidad. Explora más sobre los roles y responsabilidades de nuestro
                    Comité Administrativo y su dedicación a la excelencia operativa y el crecimiento sostenible de
                    nuestra organización.</p>
            </div>

            <div class="row gy-4">

                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <a href="/sobre-nosotros/benjamin-antron/">
                            <img src="../img/Ben.jpeg" class="img-fluid" alt="" width="150px;">
                         </a>

                            <a href="/sobre-nosotros/benjamin-antron/" style="color: black;">
                                <h4>Benjamin Antron</h4>
                            </a>

                            <h6>Director Administrativo</h6>

                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <a href="/sobre-nosotros/mariel-corcino-figueroa/">
                            <img src="../img/Mariel2.jpg" class="img-fluid" alt="" width="150px;">
                        </a>
                        <a href="/sobre-nosotros/mariel-corcino-figueroa/" style="color: black;">
                            <h4>Mariel Corcino Figueroa</h4>
                        </a>
                            <h6>Subdirectora Administrativa</h6>

                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <a href="/sobre-nosotros/katia-bruzon/">
                            <img src="../img/Katia-4.png" class="img-fluid" alt="" width="150px;">
                        </a>
                        <a href="/sobre-nosotros/katia-bruzon/" style="color: black;">
                            <h4>Katia Bruzón</h4>
                        </a>
                            <h6>Finanza</h6>

                    </div>
                </div><!-- End Team Member --> 
            </div>

            <div style="padding:10px;"></div>

            <div class="row gy-4">

                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <a href="/sobre-nosotros/adriana-salazar/">
                            <img src="../img/Adriana-3.png" class="img-fluid" alt="" width="150px;">
                        </a>
                            <a href="/sobre-nosotros/adriana-salazar/" style="color: black;">
                                <h4>Adriana Salazar</h4>
                            </a>
                                <h6>Gerente de Oficina</h6>

                </div>
                </div><!-- End Team Member -->

                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <a href="/sobre-nosotros/pr-luis-angel-carretero/">
                            <img src="../img/Luis.jpeg" class="img-fluid" alt="" width="150px;">
                        </a>
                        <a href="/sobre-nosotros/pr-luis-angel-carretero/" style="color: black;">
                            <h4>
                                Pr. Luis Ángel Carretero
                            </h4>
                        </a>
                            <h6>Coordinador General</h6>

                </div>
                </div><!-- End Team Member -->

                <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <a href="/sobre-nosotros/eddie-rivera/">
                            <img src="../img/Eddie.jpeg" class="img-fluid" alt="" width="150px;">
                        </a>
                        <a href="/sobre-nosotros/eddie-rivera/" style="color: black;">
                            <h4>Eddie Rivera</h4>
                        </a>
                            <h6>
                                Dir. de Recaudación de Fondos
                            </h6>

                    </div>
                </div><!-- End Team Member -->
                 

            </div>

        </div>
    </section>
    <!-- End Our Team Section -->

</main><!-- End #main --> 